.footer {
    margin-top: 24px;
    border-top: 1px solid #E0E0E0;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__descr {
        font-family: 'Arial';
        font-size: 12px;
        line-height: 17px;
    }
    &__link {
        color: #0059AC;
        text-decoration: underline rgba(0, 89, 172, 0.25);
    }
    &__social {
        display: flex;
        width: 80px;
        justify-content: space-between;
        align-items: center;
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-icon {
            transition: all .3s;
            &:hover {
                scale: 1.2;
            }
        }
    }
}